@page "/fetchdata"
@page "/fetchdata/details/{Id:int}"

@using Microsoft.EntityFrameworkCore
@using sample_use_proxy.Data
@inject NavigationManager NavigationManager

@inherits OwningComponentBase<WeatherContext>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @if (selectedForecast != null)
    {
        <WeatherDetails Forecast="@selectedForecast" />
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td><a href="/fetchdata/details/@forecast.Id"> @forecast.Date.ToShortDateString()</a></td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                </tr>
            }
            </tbody>
        </table>
    }

}

@code {
    private WeatherForecast[] forecasts;

    private WeatherForecast selectedForecast;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Initialize BEGIN on "+ DateTimeOffset.Now +" at URL: " + NavigationManager.Uri);

        forecasts = await Service.Forecasts.ToArrayAsync();

        Console.WriteLine("Initialize END on "+ DateTimeOffset.Now +" at URL: " + NavigationManager.Uri);
    }

    [Parameter]
    public int Id { get; set; } = 0;

    protected override async void OnParametersSet()
    {
        Console.WriteLine("Setting Parameters BEGIN on "+ DateTimeOffset.Now +" at URL: " + NavigationManager.Uri);

        if (Id > 0)
        {
            selectedForecast = await Service.Forecasts.FirstOrDefaultAsync(w => w.Id == Id);
        }

        Console.WriteLine("Setting Parameters END on "+ DateTimeOffset.Now +" at URL: " + NavigationManager.Uri);
    }
}
